*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
  font-family: 'Fira Sans Condensed';
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  font-family: 'Oswald';
  margin: 0;
  padding: 0;
}

input, button, label {
  cursor: pointer;
}

input[type="text"] {
  cursor: text;
}

h1 {
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

p {
  font-size: 18px;
  font-family: 'Fira Sans Condensed';
}

.content__accent {
  color: #545050;
}

ul,
ol {
  list-style: none;
}

a{
  text-decoration: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.result__video-container{
  position: relative;
}

.result__video {
  width: 711px;
  height: 386px;
}

.content__list-container {
  height: 298px;
  overflow-y: auto;
  padding: 3px;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content__video-card {
  display: flex;
  height: 103px;
  justify-content: space-between;
}

.content__video-card-description-container {
  color: white;
}

.title {
  margin-bottom: 26px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.result__video {
  width: 711px;
  height: 386px;
}

.search-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: end;
}

.search-form__fieldset {
  border: none;
  width: 225px;
}

.search-form > button {
  width: 194px;
  height: 34px;
}

.search-form__textfield {
  all: unset;

  width: 100%;
  background: none;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  width: 225px;
  height: 27px;
  font-family: 'Fira Sans Condensed';
}

.search-form__textfield:active {
  border: 1px solid white;
}

.search-form__textfield:focus-visible {
  border: 1px solid white;
}

.search-form__label:focus-visible {
  border: 1px solid white;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.search-form__checkbox {
  appearance: none;
  padding: 1;
  margin: 0;

  position: relative;
  border: 1px solid #fff;
  width: 19px;
  height: 19px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__checkbox:checked::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  background-color: #ffffff; /* или ваш цвет фона */
  border-radius: 1px;
}

.search-form__label-text:hover {
  text-decoration: underline;
}

.search-form__checkbox:active {
  border: 1px solid white;
}

.search-form__submit-button, .more-button {
  background: none;
  color: white;
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #fff;
  width: 194px;
  height: 34px;
  cursor: pointer;
}

.more-button {
  width: 100%;
}

.search-form__submit-button:hover {
  text-decoration: underline;
}

.search-form__submit-button:active {
  background-color: #545050;
  text-decoration: none;
}

.content__list-item:hover {
  text-decoration: underline;
}

.content__list-item:active {
  background-color: #545050;
  text-decoration: none;
}

.content__list-item:focus-visible {
  border: 1px solid white;
}