*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
<<<<<<< HEAD
  font-family: 'Fira Sans Condensed';
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
  font-family: 'Fira Sans Condensed';
=======
>>>>>>> c536e6ce6ce7c0372276403e88bd1d70b8552482
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
<<<<<<< HEAD
  font-family: 'Oswald';
  margin: 0;
  padding: 0;
}

input, button, label {
  cursor: pointer;
}

input[type="text"] {
  cursor: text;
}

h1 {
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

p {
  font-size: 18px;
  font-family: 'Fira Sans Condensed';
}

.content__accent {
  color: #545050;
}
fieldset {
  font-family: 'Oswald';
=======
>>>>>>> c536e6ce6ce7c0372276403e88bd1d70b8552482
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

<<<<<<< HEAD
a{
  text-decoration: none;
}
=======
/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
>>>>>>> c536e6ce6ce7c0372276403e88bd1d70b8552482
